html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: $main-font-stack;
  color: $second-text-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
