.social-list {
  &__item {
    background-color: $navigation-list-color;
  
    &:not(:last-child) {
      margin-right: 1px;
    }
  
    &:hover {
      background-color: $second-color;
  
      .social-list__item-img {
        fill: $white-color;
      }
    }
  
    &-link {
      @include center-flex('all');
      width: 56px;
      height: 56px;
      background-repeat: no-repeat;
      background-position: center;
    }
  
    &-img {
      width: 32px;
      height: 32px;
      fill: $second-color;
    }
  }
}
