$main-font-size: 14px;
$main-font-stack: 'Montserrat', sans-serif;
$second-font-stack: 'Roboto', sans-serif;
$third-font-stack: 'Kaushan Script', cursive;
$main-color: rgba(149, 225, 211, 1);
$second-color: rgba(243, 129, 129, 1);
$white-color: rgba(255, 255, 255, 1);
$navigation-list-color: rgb(252, 227, 138);
$main-text-color: #999;
$second-text-color: #333;
