/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url("fonts.css");
:root {
  --main-color: rgba(149, 225, 211, 1);
  --second-color: rgba(243, 129, 129, 1);
  --white-color: rgba(255, 255, 255, 1);
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
/* header */
.header {
  padding-top: 24px;
  padding-bottom: 230px;
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(252, 227, 138, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    ),
    url(../img/eagle.jpg);
  background: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../img/eagle.jpg);
  background: linear-gradient(
      0deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../img/eagle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  min-height: 66px;
  margin-bottom: 162px;
}

.logo {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: var(--white-color);
}

.navigation__list {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navigation__list-item {
  margin-right: 58px;
}

.navigation__list-link {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white-color);
}

.navigation__list-link--menu {
  margin-left: auto;
}

.navigation__list-link::after {
  content: "";
  display: block;
  height: 3px;
  margin-top: 10px;
  background: transparent;
}

.navigation__list-link:hover {
  color: rgb(252, 227, 138);
}

.navigation__list-link:hover .navigation__link-svg {
  fill: rgb(252, 227, 138);
}

.navigation__list-link:hover::after {
  content: "";
  display: block;
  height: 3px;
  margin-top: 10px;
  background: rgb(252, 227, 138);
}

.navigation__link-svg {
  height: 15px;
  width: 18px;
  fill: var(--white-color);
}

.navigation__btn {
  margin-right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section-header {
  margin: 0;
  margin-bottom: 62px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.section-header--header {
  font-size: 150px;
  line-height: 150px;
  margin-bottom: 104px;
  color: var(--white-color);
}

.section-header::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 0 auto;
  margin-top: 36px;
  background: var(--second-color);
}

.section-header--header::after {
  width: 0;
  height: 0;
  margin: 0;
}

.section-header__description {
  display: block;
  margin: 0;
  margin-bottom: 14px;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}

.section-header__description--header {
  font-size: 72px;
  line-height: 86px;
  margin-bottom: 24px;
  color: var(--white-color);
}

.header__link {
  display: block;
  margin: 0 auto;
  width: 164px;
  padding: 11px 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--white-color);
  border: 3px solid var(--white-color);
  cursor: pointer;
}

/* services */
.services {
  padding-top: 112px;
}

.services__list {
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services__list-item {
  position: relative;
  width: 384px;
  padding-left: 80px;
}

.services__list-item:not(:nth-last-of-type(-n + 3)) {
  margin-bottom: 96px;
}

.services__list-item::before {
  position: absolute;
  left: 20px;
  top: 0;
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.services__list-item:first-child::before {
  background-image: url(../img/alarm.svg);
}

.services__list-item:nth-child(2)::before {
  background-image: url(../img/graph.svg);
}

.services__list-item:nth-child(3)::before {
  background-image: url(../img/computer.svg);
}

.services__list-item:nth-child(4)::before {
  background-image: url(../img/book.svg);
}

.services__list-item:nth-child(5)::before {
  background-image: url(../img/home.svg);
}

.services__list-item:last-child::before {
  background-image: url(../img/digital.svg);
}

.services__list-item-header {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
}

.services__list-item-desc {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999;
}
/* team */
.team {
  padding-top: 88px;
  padding-bottom: 78px;
}
.team-description {
  width: 950px;
  margin: 0 auto 90px;
  text-align: center;
}

.team__list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.team__list-item {
  position: relative;
}

.team-overlay {
  position: relative;
}

.team__list-item:hover .item-overlay {
  opacity: 1;
  visibility: visible;
}

.team__list-item:hover .item-overlay,
.team__list-item:hover .team-item-image {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}
.item-image-block {
  margin-bottom: 28px;
  background-color: var(--main-color);
}
.team__list-item-image {
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  -o-transition: transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.team__list-item-name {
  margin: 0;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
}
.team__list-item-name,
.team__list-item-position {
  text-align: center;
  background-color: var(--white-color);
}

.team__list-item-position {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  color: #999;
  font-style: italic;
}

.item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  z-index: 4;
}

.social-list {
}

.social-list__item {
  background-color: rgb(252, 227, 138);
}
.social-list__item:not(:last-child) {
  margin-right: 1px;
}

.social-list__item:hover {
  background-color: var(--second-color);
}

.social-list__item:hover .social-list__item-img {
  fill: var(--white-color);
}

.social-list__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-list__item-img {
  width: 32px;
  height: 32px;
  fill: var(--second-color);
}

/* footer */
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 64px;
  padding: 10px 0;
  border-top: 1px solid #e5e5e5;
}

.footer__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.footer__description-link {
  text-decoration: none;
  color: rgb(243, 129, 129);
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 380px;
}

.footer__input {
  padding: 0;
  padding-left: 12px;
  width: 230px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  border: 1px solid rgb(231, 231, 231);
  color: #333;
}

.footer__input::-webkit-input-placeholder {
  color: rgba(204, 204, 204, 1);
}

.footer__input::-moz-placeholder {
  color: rgba(204, 204, 204, 1);
}

.footer__input:-ms-input-placeholder {
  color: rgba(204, 204, 204, 1);
}

.footer__input::-ms-input-placeholder {
  color: rgba(204, 204, 204, 1);
}

.footer__input::placeholder {
  color: rgba(204, 204, 204, 1);
}

.footer__btn {
  padding: 0;
  width: 150px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
  border: none;
  background-color: var(--main-color);
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi) {
  .header {
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(252, 227, 138, 0.9)),
        to(rgba(243, 129, 129, 0.9))
      ),
      url(../img/eagle@2x.jpg);
    background: -o-linear-gradient(
        bottom,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url(../img/eagle@2x.jpg);
    background: linear-gradient(
        0deg,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url(../img/eagle@2x.jpg);
  }
}
